
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="radio"]:nth-child(3){
    margin-left: 20px;
}
input[type="radio"] {
    margin-right: 5px; 
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-container {
    margin-bottom: 20px;
}

.form-container:last-child {
    text-align: center;
}

.resultContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 auto;
}
.resultContainer h2{
    text-align:center;
    margin:10px 0 10px 0;
    font-size: 35px;
}
.resultContainer p {
    font-size: 2rem;
}
.goBack
{
    width: 200px;
    margin: 20px auto;
    padding: 20px 0 ;
    font-size: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

    
td:first-child {
    font-weight: bold;
}
 
.goBack, #submit {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.goBack:hover, #submit:hover {
    background-color: #45a049;
}